<ul>
  @for (comment of comments; track comment.id) {
    <li class="ml-4 my-2 border-l pl-2">
    <div [ngClass]="{ 'text-gray-400 italic': comment.removed }">
      @if (comment.removed) {
        [comment removed]
      } @else {
        @if (!comment.author) {
          {{ comment.body }}
        } @else {
          {{ comment.body }} — {{ comment.author.name }}
        }
      }
    </div>

      @if (!comment.removed) {
        <button (click)="deleteComment.emit(comment)" class="text-sm">Delete</button>

        <div class="mt-1">
          <input
            placeholder="Reply..."
            class="border px-2 py-1 w-full"
          />
          <button (click)="handleReply(comment)">Reply</button>
        </div>
      }
      <app-comments-tree
        [comments]="comment.replies"
        (addComment)="addComment.emit($event)"
        (deleteComment)="deleteComment.emit($event)"
      />
    </li>
  }
</ul>
