<div class="topics">  
  @for (topic of topics; track trackByTopicId) {
    <div class="topic">
      <h3 (click)="toggleExpand(topic.id)" style="cursor: pointer;">
        {{ topic.title }} — by {{ topic.author.name }}
      </h3>
      <button type="submit" (click)="deleteTopic(topic)">Delete Topic</button>
      @if (topic.expanded) {
        <p class="mb-2">{{ topic.body }}</p>

        <form [formGroup]="commentForms[topic.id]" (ngSubmit)="addComment(topic, null, commentForms[topic.id].value.body)">
          <input formControlName="body" placeholder="Add a comment..." />
          <button type="submit" [disabled]="commentForms[topic.id].invalid">Comment</button>
        </form>

        <app-comments-tree
          [comments]="topic.comments"
          (addComment)="addComment(topic, $event.parentComment, $event.body)"
          (deleteComment)="deleteComment(topic, $event)"
        />
      }
    </div>
    <hr class="my-4" />
  }

  <form [formGroup]="topicForm" (ngSubmit)="addTopic()" >
    <input formControlName="title" placeholder="Title"/>
    <textarea formControlName="body" placeholder="Body"></textarea>
    <button type="submit" [disabled]="topicForm.invalid">Add Topic</button>
  </form>
</div>
